/* popup.css */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
}
body {
  font-family: "Arial", sans-serif;
  color: #e0e0e0;
  text-align: center;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding: 20px;
  box-sizing: border-box;
}

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.ai-title {
  font-size: 2em;
  font-weight: bold;
  color: #00f5d4;
  margin-bottom: 30px;
}

.logo-container img {
  width: 300px;
  height: 100px;
  object-fit: cover;
}

h2,
h3 {
  margin: 10px 0;
  color: #ffffff;
}

pre {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}

.ai-button {
  width: 200px;
}

/* card */
.job-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 245, 212, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.job-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
}

.job-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  margin: 3px 0;
}

.company-name {
  font-size: 1em;
  color: #00f5d4;
  margin: 0;
}

.job-location {
  font-size: 0.9em;
  color: #c0c0c0;
  margin-top: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  width: fit-content;
}
