/* popup.css */

#root {
  min-width: 400px;
  min-height: 500px;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Arial", sans-serif;
  color: #e0e0e0;
  text-align: center;
  background-color: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.4;
  box-sizing: border-box;
}

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
}

.ai-title {
  font-size: 2em;
  font-weight: bold;
  color: #00f5d4;
  margin-bottom: 30px;
}

.logo-container {
  margin-top: 20px;
}

.logo-container img {
  width: 200px;
  height: 50px;
  object-fit: cover;
}

h2,
h3 {
  margin: 10px 0;
  color: #ffffff;
}

pre {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}

.ai-button {
  width: 200px;
}

/* card */
.job-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  text-align: center;
  box-shadow: 0 2px 6px #079fc0;
  border: 1px solid #079fc0;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.job-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
}

.job-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  margin: 3px 0;
}

.company-name {
  font-size: 1em;
  color: #079fc0;
  margin: 0;
}

.job-location {
  font-size: 0.9em;
  color: #c0c0c0;
  margin-top: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  width: fit-content;
}

/* New Styles for layout */
.main-layout {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.side-nav {
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #1d1d1d;
  padding: 20px 0;
  box-sizing: border-box;
}

.main-content {
  width: calc(100% - 64px);
  display: flex;
  flex-direction: column;
}

.content {
  padding: 0 10px;
  flex: 1;
}
/* Links Style */

a.link-primary {
  color: #079fc0;
  text-decoration: underline;
}
a.active {
  color: #079fc0;
  text-decoration: none;
  border: 1px solid #079fc0;
  border-radius: 10px;
  background-color: rgba(200, 255, 255, 0.186);
}
a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
